body {
            font-family: sans-serif;
            margin: 20px;
            background-color: #f4f4f4;
        }
        .container {
            max-width: 600px;
            margin: auto;
            background: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
        h1 {
            color: #333;
        }
        .controls {
            margin-bottom: 20px;
        }
        .button_addRost {
            padding: 10px 15px;
            margin-right: 10px;
            background-color: #04dd25;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        .button_addRost:hover {
            background-color: #047923;
        }
        .button_searchRost {
            padding: 10px 15px;
            margin-right: 10px;
            background-color: #f89204;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        .button_searchRost:hover {
            background-color: #bd6f03;
        }

        #rost-list {
            list-style-type: none;
            padding: 0;
        }
        #rost-list li {
            padding: 10px;
            transition: background-color 0.3s ease;
            
        }
           
        
        
